
<ion-content class="bg">
  <ion-header>
    <ion-toolbar class="heads">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="members/tab1"></ion-back-button>
      </ion-buttons>
      <ion-title>Detail Karyawan</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div class="profile">
      <img class="avatar" src="../assets/img/profile.png"/>
      <div class="txt-det">
        <h3>Zubair Marzuki</h3>
        <p>Office Boy</p>
      </div>
    </div>
  </div>

  <div class="detail">
    <ion-card>
      <ion-item>
        <p>Profile</p>
      </ion-item>
      <ion-card-content>
        <div class="content">
          <ion-row>
            <ion-col>
              <p>Nama</p>
            </ion-col>
            <ion-col class="r" >
              <p>Zubair Marzuki</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Tempat, Tanggal Lahir</p>
            </ion-col>
            <ion-col class="r" >
              <p>Serang, 21 April 1998</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Agama</p>
            </ion-col>
            <ion-col class="r" >
              <p>Islam</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Status</p>
            </ion-col>
            <ion-col class="r" >
              <p>Belum Menikah</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
      <hr>
      <ion-item>
        <p>Info Kontak</p>
      </ion-item>
      <ion-card-content>
        <div class="content">
          <ion-row>
            <ion-col>
              <p>Email</p>
            </ion-col>
            <ion-col class="r" >
              <p>zubairmarzuki715@gmail.com</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Phone</p>
            </ion-col>
            <ion-col class="r" >
              <p>0895331371249</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
