.bg{
    --ion-background-color: #0F4C81 !important;
  }
  #container {

    left: 0;
    right: 0;
    top: 20px;
    padding: 18px;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  
  #container a {
    text-decoration: none;
  }
  hr{
    background-color: #fff;
    width: 90%;
  }

  .heads{
      color: #fff;
  }

  .profile{
      text-align: center;
      margin-top: 80px;
  }

  .txt-det{
      color: #fff;
      margin-top: 30px;
      font-family: 'open Sans';
  }

  .txt-det p{
      margin-top: 5px;
      opacity: 50%;
  }
  

  .mt-20{
    margin-top: 30px;
  }
  
  .mt-10{
  margin-top: 15px;
  }
  
  .mt-5{
    margin-top: 10px;
  }

  .avatar {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    margin-top: 2px;
  }

  .detail{
    position: relative;
  }

  .detail p{
      color: #fff;
  }

  ion-card{
    --ion-background-color: #123656;
  }
  .r{
      text-align: right;
  }

  .content{
    font-family: 'open sans';
  }